.fixed-area {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
  }
  &__section {
    width: 50%;
    height: 100%;
    position: relative;
    &_head {
      color: #fff;
    }
    &_content {
    }
  }
  &__backgrounds {
    width: 50vw;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: #1d1d1d;
  }
  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  &__scroll-area {
    position: relative;
    z-index: 2;
  }
  &__content {
    padding: 55px 0;
    overflow: hidden;
    height: 100%;
    max-width: 650px;
    &_left {
      padding-right: 100px;
      padding-left: 20px;
      margin: 0 0 0 auto;
    }
    &_right {
      padding-left: 100px;
      padding-right: 20px;
    }
  }
  &__title {
    font-size: 36px;
    margin: 0 0 30px 0;
    line-height: 1.25;
  }
  &__category-title {
    font-size: 30px;
    margin: 0 0 50px 0;
  }
  &__category-sub-title {
    font-size: 24px;
    margin: 0 0 30px 0;
    font-weight: 500;
  }
  &__list {
    list-style: none;
    padding: 0;
    &:not(:last-child) {
      margin-bottom: 70px;
    }
    li {
      position: relative;
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
    &_type1 {
      margin: 0 0 0 5px;
      li {
        padding-left: 59px;
        display: flex;
        align-items: center;
        min-height: 37px;
        &:before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 37px;
          height: 37px;
          border-radius: 100%;
          border: 1px solid #C4C4C4;
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.29549 8.1546L1.13832 4.99744L0.0859375 6.04983L4.29549 10.2594L13.316 1.23891L12.2636 0.186523L4.29549 8.1546Z' fill='black'/%3E%3C/svg%3E");
          background-size: 14px 11px;
          background-repeat: no-repeat;
          background-position: center center;
        }
      }
    }
    &_type2 {
      li {
        line-height: 1.25;
        padding-left: 19px;
        &:before {
          content: '';
          display: block;
          width: 7px;
          height: 12px;
          position: absolute;
          top: 4px;
          left: 0;
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.15918 1.4L1.32469 0L6.31971 6L1.32469 12L0.15918 10.6L3.9887 6L0.15918 1.4Z' fill='%23161616'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-size: 100% 100%;
        }
      }
    }
  }
  &__nav {
    margin-bottom: -20px;
  }
}

.tab-item {
  display: none;
  .fixed-area__category-title {
    text-transform: uppercase;
  }
}
.tab-bg {
  display: none;
}

.fixed-area-nav-item {
  padding-bottom: 20px;
  &__container {
    position: relative;
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #FFF;
    font-size: 14px;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
    span {
      display: block;
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
    &.active {
      color: #000;
      background-color: #fff;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    }
  }
}

@media all and(min-width: 1201px) {
  @media all and(max-height: 800px) {
    .fixed-area-nav-item__container:before {
      padding-top: 60%;
    }
  }
}

@media all and(max-width: 1300px) {
  .fixed-area__content_left {
    padding-right: 20px;
  }
  .fixed-area__content_right {
    padding-left: 40px;
  }
}
@media all and(max-width: 1300px) {
  .fixed-area-nav-item__container:before {
    display: none;
  }
  .fixed-area-nav-item__container  {
    padding: 15px 20px;
    height: 70px;
    display: flex;
    align-items: center;
    span {
      position: relative;
      top: auto;
      transform: translate(0);
    }
  }
}
@media all and(max-width: 992px) {
  .fixed-area__content {
    padding: 50px 20px;
  }
  .fixed-area-nav-item__container:before {
    padding-top: 40%;
  }
}
@media all and(max-width: 768px) {
  .fixed-area__content {
    padding: 45px 20px;
  }
  .fixed-area__backgrounds {
    width: 100%;
  }
  .fixed-area__section {
    width: 100%;
  }
  .fixed-area__section_head {
    padding-bottom: 0;
  }
  .fixed-area__content {
    max-width: 100%;
  }
  .fixed-area__section_content {
    padding-top: 0;
  }
  .fixed-area__category-title {
    margin: 0 0 40px 0;
  }
  .fixed-area__list_type1 {
    margin-left: 0;
  }
  .fixed-area__list:not(:last-child) {
    padding-bottom: 50px;
    border-bottom: 1px solid #5B5A5F;;
    margin-bottom: 35px;
  }
}
@media all and(max-width: 576px) {
  .fixed-area__category-title {
    font-size: 24px;
    text-transform: uppercase;
  }
  .fixed-area__title {
    font-size: 28px;
  }
  .fixed-area-nav-item__container {
    height: auto;
  }
  .fixed-area-nav-item {
    padding-bottom: 15px;
  }
}