.footer {
  background: #1E1E1E;
  color: #EEEEEE;
  position: absolute;
  z-index: 2;
  width: 100%;
  bottom: 0;
  font-size: 14px;
  &__container {
    height: 100px;
  }
  &__section {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    &:first-child {
      border-right: 1px solid #fff;
    }
  }
  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__socials {
    margin-right: 25px;
  }
  &__contact-item {
    color: #fff;
  }
  &__copy {
    display: block;
  }
}

.footer-nav {
  height: 100%;
  &__list {
    height: 100%;
    list-style: none;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  &__item {
    width: 25%;
    padding-right: 30px;
  }
  &__link {
    color: #EEEEEE;
    text-decoration: none;
    border-bottom: 1px solid #EEEEEE;
    line-height: 1;
    transition: 0.1s;
    &:hover {
      border-color: transparent;
    }
  }
}
.socials {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
  &__item {
    display: block;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  &__link {
    display: block;
    width: 20px;
    height: 20px;
    letter-spacing: normal;
    transition: 0.3s;
    &:hover {
      opacity: 0.8;
    }
  }
  .icon {
    fill: #fff;
    width: 100%;
    height: 100%;
  }
}

@media all and(max-width: 768px) {
  .footer__section:first-child {
    display: none;
  }
  .footer__content {
    align-items: center;
  }
}
