.header {
  position: fixed;
  z-index: 50;
  width: 100%;
  line-height: 24px;
  font-weight: 700;
  transition: background-color .3s, box-shadow .3s;
  background-color: rgba(255, 255, 255, 0.95);
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &.scrolled {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  }
  a {
    color: #121212;
  }
  &__contact-item {
    &:not(:first-child) {
      margin-left: 91px;
    }
  }
  &__contacts {
    display: flex;
    align-items: center;
  }
}
.logo {
  &__link {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    letter-spacing: 0.15em;
    padding: 20px;
    transition: 0.3s;
    &:hover {
      opacity: .8s;
    }
  }
}

.nav-open {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 120px;
  line-height: 24px;
  padding: 20px;
  transition: 0.3s;
  &__inner {
    position: relative;
    margin-right: 15px;
    display: inline-block;
    width: 29px;
    height: 2px;
    background-color: #000;
    transition: 0.3s;
    &:before,
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-color: inherit;
      position: absolute;
      background-color: #000;
      transition: 0.3s;
    }
    &:before {
      top: -6px;
    }
    &:after {
      bottom: -6px;
    }
  }
  &:hover {
    background-color: #f8f8f8;
  }
}
.nav-close {
  height: 64px;
  width: 64px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  transition: 0.3s;
  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 29px;
    height: 2px;
    background-color: #757575;
    top: 50%;
    left: 50%;
  }
  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &:hover {
    background-color: #f8f8f8;
  }
}
.overlay {
  position: fixed;
  display: none;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.nav {
  position: fixed;
  z-index: 150;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #fff;
  transition: transform 0.3s;
  transform: translateX(100%);
  &_active {
    transform: translateX(0);
  }
  .scroll-area {
    border-top: 1px solid #eeeeee;
  }
  &__container {
    width: 240px;
    height: 100%;
    position: relative;
    padding-top: 64px;
  }
  &__list {
    max-height: 100%;
    overflow: auto;
    list-style: none;
    margin: 0;
    padding: 20px 0;
  }
  &__item {
    margin: 0;
    &_contact {
      font-size: 16px;
      width: 100%;
      display: none;
      color: #000;
      line-height: normal;
    }
    &_pd {
      margin-top: 20px;
      padding-top: 20px;
      position: relative;
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #eeeeee;
      }
    }
  }
  &__link {
    color: inherit;
    line-height: 20px;
    display: block;
    color: inherit;
    text-decoration: none;
    font-weight: 400;
    position: relative;
    padding: 20px;
    transition: 0.3s;
    color: #000;
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      border-radius: 100%;
      background-color: #99E575;
      transition: 0.3s;
      opacity: 0;
    }
    &:hover {
      background-color: #f8f8f8;
      &:after {
        opacity: 1;
      }
    }
    &_contact {
      &:after {
        display: none;
      }
    }
  }
}


@media all and(max-width: 1500px) {
  
  .header__contact-item:not(:first-child) {
    margin-left: 50px;
  }
}
@media all and(max-width: 992px) {
  .nav__item_contact {
    display: block;
  }
  .header__contact-item {
    display: none;
  }
  .nav-open {
    margin: 0;
  }
}
@media all and(max-width: 576px) {
  .header {
    font-size: 16px;
    line-height: 20px;
  }
  .nav-close {
    width: 60px;
    height: 60px;
    &:after, &:before {
      width: 25px;
    }
  }
  .nav-open {
    height: 60px;
    &__inner {
      margin: 0;
      width: 20px;
    }
    &__text {
      display: none;
    }
  }
  .logo__link {
    font-size: 16px;
    letter-spacing: 0.05em;
  }
  .nav__container {
    padding-top: 60px;
  }
  .nav__item {
    font-size: 16px;
  }
  .nav__link {
    padding: 15px 20px;
  }
}