doctype html
html(lang="ru")
  head
    include blocks/head
  body
    .wrapper.wrapper_fixed.compensate-scrollbar
      include blocks/header
      include blocks/nav
      span.overlay
      main.main.padding-compensate
        .main__wrap
          include blocks/services-section
      include blocks/footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")