section.section.about
  .about__background.lazy(data-src='img/backgrounds/image-test.jpg')
  .container
    .about__container
      .about__content.wow.fadeIn
        h4.title ООО «Воронежэкопром»
        p.about__description Экологическое предприятие полного цикла по сбору, утилизации<br> и транспортировке нефтесодержащих отходов.
      .row
        .about-block.col-xl-3.col-lg-4.col-sm-6.col-12.wow.fadeInUp.interval
          .about-block__icon
            <svg class="icon"><use xlink:href="img/icons/svg-sprite.svg#icon15"></use></svg>
          p.about-block__text Мы работаем<br> на основании действующей<br> лицензии
        .about-block.col-xl-3.col-lg-4.col-sm-6.col-12.wow.fadeInUp.interval
          .about-block__icon
            <svg class="icon"><use xlink:href="img/icons/svg-sprite.svg#icon6"></use></svg>
          p Все наши клиенты<br> получают полный пакет отчетных документов
        .about-block.col-xl-3.col-lg-4.col-sm-6.col-12.wow.fadeInUp.interval
          .about-block__icon
            <svg class="icon"><use xlink:href="img/icons/svg-sprite.svg#icon1"></use></svg>
          p Собственный автопарк<br> для сбора и транспортировки отходов.
        .about-block.col-xl-3.col-lg-4.col-sm-6.col-12.wow.fadeInUp.interval
          .about-block__icon
            <svg class="icon"><use xlink:href="img/icons/svg-sprite.svg#icon19"></use></svg>
          p Наш персонал<br> прошел обучение<br> и сертификацию
