section.section.about-company.wow.fadeIn
  .container
    .about-company__container
      h2.title О компании
      p.t-size-24.t-interval ООО «Воронежэкопром» экологическое предприятие полного цикла по сбору, утилизации и транспортировке нефтесодержащих отходов I-IV класса опасности. Мы работаем на основании действующей лицензии.Все наши кленты получают полный пакет отчетных докумекументов. Имеем собственный парк специализированного автотранспорта для сбора и транспортировки отходов. Наш персонал обучен и сертифицирован.