mixin block()
  .clients-block.col-xl-2.col-lg-3.col-md-4.col-6.wow.fadeInUp.interval
    .clients-block__container.cover-box
      img(alt="")&attributes(attributes).lazy
section.clients
  .container
    .clients__container.wow.fadeIn
      h4.title Наши клиенты
      p.clients__description Наши клиенты -  крупные и небольшие предприятия на территории<br> ЦЧР и Южного федерального округа.
    .clients__content.row
      +block()(data-src='img/clients/icon1.png')
      +block()(data-src='img/clients/icon2.png')
      +block()(data-src='img/clients/icon3.png')
      +block()(data-src='img/clients/icon4.png')
      +block()(data-src='img/clients/icon5.png')
      +block()(data-src='img/clients/icon6.png')
      +block()(data-src='img/clients/icon7.png')
      +block()(data-src='img/clients/icon8.png')
      +block()(data-src='img/clients/icon9.png')
      +block()(data-src='img/clients/icon10.png')
      +block()(data-src='img/clients/icon11.png')
      +block()(data-src='img/clients/icon12.png')
