section.section.contacts.padding-compensate
  div(id='map')
  .contacts__container.page-wrap
    .container
      .contacts__head.wow.fadeIn
        h2.title Наши контакты
        p.t-size-24 ООО «Воронежэкопром»<br> Ямное, Аэродромная улица, 2Н, офис 8<br> Телефон: +7 (473) ‎230-36-37<br> e-mail:    mail@ecopromvrn.ru
      .contact-form-area.wow.fadeIn
        p.contact-form-area__description.t-size-24 Если у вас остались вопросы, напишите нам в форме обратной связи
        form(action="").contact-form
          .contact-form__group.row
            .contact-form__input.col-xl-6.col-12
              input(type="text" placeholder="Ваше имя").input
            .contact-form__input.col-xl-6.col-12
              input(type="phone" placeholder="Номер телефона +7").input.input_phone
          .contact-form__group
            textarea(placeholder='Текст сообщения').input.input_textarea
        .contact-form-area__phone
          span.contact-form-area__phone-label Или позвоните нам по телефону:
          h3 +7 (473) 230-36-37

