section.section.documents
  .container
    .documents__container
      .wow.fadeIn.documents__head
        h2.title Документы
        p.t-size-28 Здесь вы можете скачать нужные вам документы
      .documents__row.row
        .documents-block.col-xl-3.col-md-4.col-sm-6.wow.fadeInUp.interval
          a(href="#" download).documents-block__container
            .documents-block__sub-title.documents-block__back Лицензия
            <svg class="icon documents-block__front"><use xlink:href="img/icons/svg-sprite.svg#icon10"></use></svg>
            <svg class="icon documents-block__back"><use xlink:href="img/icons/svg-sprite.svg#icon12"></use></svg>
            .documents-block__title.documents-block__front Лицензия
            .documents-block__title.documents-block__back Скачать
        .documents-block.col-xl-3.col-md-4.col-sm-6.wow.fadeInUp.interval
          a(href="#" download).documents-block__container
            .documents-block__sub-title.documents-block__back ТИПОВОЙ ДОГОВОР
            <svg class="icon documents-block__front"><use xlink:href="img/icons/svg-sprite.svg#icon6"></use></svg>
            <svg class="icon documents-block__back"><use xlink:href="img/icons/svg-sprite.svg#icon12"></use></svg>
            .documents-block__title.documents-block__front ТИПОВОЙ ДОГОВОР
            .documents-block__title.documents-block__back Скачать
        .documents-block.col-xl-3.col-md-4.col-sm-6.wow.fadeInUp.interval
          a(href="#" download).documents-block__container
            .documents-block__sub-title.documents-block__back АКТ
            <svg class="icon documents-block__front"><use xlink:href="img/icons/svg-sprite.svg#icon6"></use></svg>
            <svg class="icon documents-block__back"><use xlink:href="img/icons/svg-sprite.svg#icon12"></use></svg>
            .documents-block__title.documents-block__front АКТ
            .documents-block__title.documents-block__back Скачать
        .documents-block.col-xl-3.col-md-4.col-sm-6.wow.fadeInUp.interval
          a(href="#" download).documents-block__container
            .documents-block__sub-title.documents-block__back РЕКВИЗИТЫ
            <svg class="icon documents-block__front"><use xlink:href="img/icons/svg-sprite.svg#icon6"></use></svg>
            <svg class="icon documents-block__back"><use xlink:href="img/icons/svg-sprite.svg#icon12"></use></svg>
            .documents-block__title.documents-block__front РЕКВИЗИТЫ
            .documents-block__title.documents-block__back Скачать