footer.footer
  .container
    .footer__container.row
      .footer__section.col-xl-8.col-md-7
        .footer-nav
          ul.footer-nav__list
            li.footer-nav__item
              a(href="#").footer-nav__link Утилизация
            li.footer-nav__item
              a(href="#").footer-nav__link О нас
            li.footer-nav__item
              a(href="#").footer-nav__link Лицензия
            li.footer-nav__item
              a(href="#").footer-nav__link Продажа
            li.footer-nav__item
              a(href="#").footer-nav__link Услуги
            li.footer-nav__item
              a(href="#").footer-nav__link Покупка
            li.footer-nav__item
              a(href="#").footer-nav__link Контакты
            li.footer-nav__item
              a(href="#").footer-nav__link Документы
      .footer__section.footer__section_content.col-xl-4.col-md-5.col-sm-12
        .copy © Все права защищены
        .footer__items
          .socials.footer__socials
            ul.socials__list
              li.socials__item
                a(href="#").socials__link
                  <svg class="icon"><use xlink:href="img/icons/svg-sprite.svg#icon16"></use></svg>
              li.socials__item
                a(href="#").socials__link
                  <svg class="icon"><use xlink:href="img/icons/svg-sprite.svg#icon17"></use></svg>
          a(href="tel:74732303637").contact-item.footer__contact-item +7 (473) 230-36-37
