header.header.compensate-scrollbar
  .container.container_style2
    .header__container
      .logo
        a(href="/index.html").logo__link
          span ВОРОНЕЖЭКОПРОМ
      .header__contacts
        a(href="tel:74732303637").contact-item.header__contact-item +7 (473) 230-36-37
        a(href="mailto: mail@ecopromvrn.ru").contact-item.header__contact-item mail@ecopromvrn.ru
        a(href="#").nav-button
          span.nav-button__inner
          span.nav-button__text меню
