header.header.compensate-scrollbar
  .container.container_style2
    .header__container
      .logo
        a(href="/index.html").logo__link
          span ВОРОНЕЖЭКОПРОМ
      .header__contacts
        a(href="tel:74732303637").header__link +7 (473) 230-36-37
        a(href="mailto: mail@ecopromvrn.ru").header__link mail@ecopromvrn.ru
        a(href="#").nav-button
          span
          | меню
