header.header.compensate-scrollbar
  .header__container
    .logo
      a(href="index.html").logo__link ВОРОНЕЖЭКОПРОМ
    .header__contacts
      a(href="tel:74732303637").contact-item.header__contact-item +7 (473) 230-36-37
      a(href="mailto: mail@ecopromvrn.ru").contact-item.header__contact-item mail@ecopromvrn.ru
      a(href="#").nav-open
        span.nav-open__inner
        span.nav-open__text меню
