section.home
  .container
    .home__container
      .home__content
        h5.home__title Покупаем<br> отработанное<br> масло
        span.home__sub-title Утилизируем<br> нефтесодержащие отходы
        .home__background.lazy(data-src="img/backgrounds/image1.jpg")
        .row
          .col-xl-3.col-lg-4.col-sm-6.col-12
            a(href="#").button.home__button Свяжитесь с нами
      .home__links.row
        .home-link.col-xl-3.col-lg-4.col-sm-6.wow.fadeInUp.interval
          a(href="#").home-link__container
            .home-link__front
              <svg class="icon icon_fixed"><use xlink:href="img/icons/svg-sprite.svg#icon7"></use></svg>
              span.home-link__title Покупка
            .home-link__back
              span.home-link__sub-title Покупка
              span.home-link__description Покупаем отработанное масло и нефтесодержащие отходы
        .home-link.col-xl-3.col-lg-4.col-sm-6.wow.fadeInUp.interval
          a(href="#").home-link__container
            .home-link__front
              <svg class="icon"><use xlink:href="img/icons/svg-sprite.svg#icon9"></use></svg>
              span.home-link__title Утилизация
            .home-link__back
              span.home-link__sub-title Утилизация
              span.home-link__description Утилизация отходов на основании действующей лицензии
        .home-link.col-xl-3.col-lg-4.col-sm-6.wow.fadeInUp.interval
          a(href="#").home-link__container
            .home-link__front
              <svg class="icon icon_fixed"><use xlink:href="img/icons/svg-sprite.svg#icon8"></use></svg>
              span.home-link__title продажа
            .home-link__back
              span.home-link__sub-title продажа
              span.home-link__description Продаем печное топливо, мазут и масло подготовленное для сжигания
        .home-link.col-xl-3.col-lg-4.col-sm-6.wow.fadeInUp.interval
          a(href="#").home-link__container
            .home-link__front
              <svg class="icon"><use xlink:href="img/icons/svg-sprite.svg#icon18"></use></svg>
              span.home-link__title УСЛУГИ
            .home-link__back
              span.home-link__sub-title УСЛУГИ
              span.home-link__description Продаем печное топливо, мазут и масло подготовленное для сжигания