nav.nav
  .nav__container
    a(href="#").nav-close
    .scroll-area
      .scroll-area__content.sl--scrollable
        ul.nav__list
          li.nav__item
            a(href="#").nav__link О компании
          li.nav__item
            a(href="purchase.html").nav__link Покупка
          li.nav__item
            a(href="#").nav__link Утилизация
          li.nav__item
            a(href="#").nav__link Продажа
          li.nav__item
            a(href="#").nav__link Услуги
          li.nav__item
            a(href="#").nav__link Документы
          li.nav__item
            a(href="#").nav__link Контакты
          li.nav__item.nav__item_contact.nav__item_pd
            a(href="tel:74732303637").nav__link.nav__link_contact +7 (473) 230-36-37
          li.nav__item.nav__item_contact
            a(href="mailto: mail@ecopromvrn.ru").nav__link.nav__link_contact mail@ecopromvrn.ru