nav.nav
  .nav__container
    a(href="#").nav-close
    ul.nav__list.sl--scrollable
      li.nav__item
        a(href="#").nav__link О компании
      li.nav__item
        a(href="#").nav__link Покупка
      li.nav__item
        a(href="#").nav__link Утилизация
      li.nav__item
        a(href="#").nav__link Продажа
      li.nav__item
        a(href="#").nav__link Услуги
      li.nav__item
        a(href="#").nav__link Документы
      li.nav__item
        a(href="#").nav__link Контакты