section.section.sale-section
  .container
    .sale-section__container
      .wow.fadeIn
        h2.title Продажа нефтепродуктов
        p.t-size-28 Продаем печное топливо, мазут и масло<br>  подготовленное для сжигания
      .row.sale-section__products
        .product-block.col-xl-4.col-md-6.col-12.wow.fadeInUp.interval
          .product-block__container
            .product-block__head
              <svg class="icon"><use xlink:href="img/icons/svg-sprite.svg#icon5"></use></svg>
              span.product-block__title ТЕМНОЕ ПЕЧНОЕ ТОПЛИВО
            .product-block__content
              .product-block__front 
                span.product-block__price 26, 50 ₽ <nobr>за литр</nobr>
              .product-block__back
                ul
                  li Плотность: 798 кг/м3
                  li Сера: 0.37 %
                  li Вспышка: 23 С*
        .product-block.col-xl-4.col-md-6.col-12.wow.fadeInUp.interval
          .product-block__container
            .product-block__head
              <svg class="icon"><use xlink:href="img/icons/svg-sprite.svg#icon3"></use></svg>
              span.product-block__title МАЗУТ  
            .product-block__content
              .product-block__front 
                span.product-block__price 15 ₽ за кг
              .product-block__back
                ul
                  li Плотность: 876 кг/м3
                  li Сера: 0.50 %
                  li Вспышка: 110 С*
        .product-block.col-xl-4.col-md-6.col-12.wow.fadeInUp.interval
          .product-block__container
            .product-block__head
              <svg class="icon"><use xlink:href="img/icons/svg-sprite.svg#icon2"></use></svg>
              span.product-block__title МАСЛО ДЛЯ СЖИГАНИЯ
            .product-block__content
              .product-block__front 
                span.product-block__price 16 ₽ за литр
              .product-block__back
                ul
                  li Не содержит воду<br> и механические примеси
      .wow.fadeIn.sale-section__delivery
        h3 Доставка
        p.t-size-24 Доставка осуществляется в течении 1-3 дней транспортом нашей<br> компании. Есть автомобили вместимостью от 1 куб.м до 30 куб.м.<br> Предоставляем возможность забрать собственным транспортом.<br> Доставка в выходные по договоренности.<br> Отправляем образцы топлива в любой регион.
      .contact-form-area.wow.fadeIn
        p.contact-form-area__description.t-size-24 Стоимость зависит от количества и расстояния до места доставки.<br> Для расчета точной стоимости напишите нам
        form(action="").contact-form
          .contact-form__group.row
            .contact-form__input.col-xl-6.col-12
              input(type="text" placeholder="Ваше имя" required).input
            .contact-form__input.col-xl-6.col-12
              input(type="phone" placeholder="Номер телефона +7" required).input.input_phone
          .contact-form__group
            textarea(placeholder='Текст сообщения' required).input.input_textarea
          .contact-form__group
            .contact-form__button 
              button(type='submit').button ОТПРАВИТЬ
        .contact-form-area__phone
          span.contact-form-area__phone-label Или позвоните нам по телефону:
          h3 +7 (473) 230-36-37
