section.section.sale-section
  .container
    .sale-section__container
      .wow.fadeIn
        h4.title Продажа нефтепродуктов
        span.title-description Продаем печное топливо, мазут и масло<br>  подготовленное для сжигания
      .row.sale-section__products
        .product-block.col-xl-4.col-md-6.col-12.wow.fadeInUp.interval
          .product-block__container
            .product-block__head
              <svg class="icon"><use xlink:href="img/icons/svg-sprite.svg#icon5"></use></svg>
              span.product-block__title ТЕМНОЕ ПЕЧНОЕ ТОПЛИВО
            .product-block__content
              .product-block__front 
                span.product-block__price 26, 50 ₽ <nobr>за литр</nobr>
              .product-block__back
                ul
                  li Плотность:
                  li Сера:
                  li Вспышка:
        .product-block.col-xl-4.col-md-6.col-12.wow.fadeInUp.interval
          .product-block__container
            .product-block__head
              <svg class="icon"><use xlink:href="img/icons/svg-sprite.svg#icon3"></use></svg>
              span.product-block__title МАЗУТ  
            .product-block__content
              .product-block__front 
                span.product-block__price 15 ₽ за кг
              .product-block__back
                ul
                  li Плотность:
                  li Сера:
                  li Вспышка:
        .product-block.col-xl-4.col-md-6.col-12.wow.fadeInUp.interval
          .product-block__container
            .product-block__head
              <svg class="icon"><use xlink:href="img/icons/svg-sprite.svg#icon2"></use></svg>
              span.product-block__title МАСЛО ДЛЯ СЖИГАНИЯ
            .product-block__content
              .product-block__front 
                span.product-block__price 16 ₽ за литр
              .product-block__back
                ul
                  li Не содержит воду<br> и механические примеси

