.fixed-area
  .fixed-area__container
    .fixed-area__section.fixed-area__section_head.padding-compensate
      .fixed-area__backgrounds
        .fixed-area__background.tab-bg.lazy(data-src='img/backgrounds/bg2.jpg' data-tab='1')
        .fixed-area__background.tab-bg.lazy(data-src='img/backgrounds/bg3.jpg' data-tab='2')
        .fixed-area__background.tab-bg.lazy(data-src='img/backgrounds/bg4.jpg' data-tab='3')
        .fixed-area__background.tab-bg.lazy(data-src='img/backgrounds/bg5.jpg' data-tab='4')
        .fixed-area__background.tab-bg.lazy(data-src='img/backgrounds/bg6.jpg' data-tab='5')
        .fixed-area__background.tab-bg.lazy(data-src='img/backgrounds/bg7.jpg' data-tab='6')
      .scroll-area.fixed-area__scroll-area
        .scroll-area__content.sl--scrollable
          .fixed-area__content.fixed-area__content_left
            h2.fixed-area__title Утилизация<br> нефтесодержащих отходов
            .fixed-area__nav.row
              .fixed-area-nav-item.col-xl-4.col-lg-6.col-12
                span(data-tab='1').fixed-area-nav-item__container.active
                  span Загрязненные материалы
              .fixed-area-nav-item.col-xl-4.col-lg-6.col-12
                span(data-tab='2').fixed-area-nav-item__container
                  span Масла
              .fixed-area-nav-item.col-xl-4.col-lg-6.col-12
                span(data-tab='3').fixed-area-nav-item__container
                  span ШЛАМЫ
              .fixed-area-nav-item.col-xl-4.col-lg-6.col-12
                span(data-tab='4').fixed-area-nav-item__container
                  span СМАЗОЧНЫЕ ЖИДКОСТИ
              .fixed-area-nav-item.col-xl-4.col-lg-6.col-12
                span(data-tab='5').fixed-area-nav-item__container
                  span Смеси
              .fixed-area-nav-item.col-xl-4.col-lg-6.col-12
                span(data-tab='6').fixed-area-nav-item__container
                  span УТРАТИВШИЕ СВОЙСТВА
    .fixed-area__section.fixed-area__section_content.padding-compensate
      .scroll-area.fixed-area__scroll-area
        .scroll-area__content.sl--scrollable
          .fixed-area__content.fixed-area__content_right
            .fixed-area__tab.tab-item
              h3.fixed-area__category-title Загрязненные матералы
              ul.fixed-area__list.fixed-area__list_type1
                li Грунт, загрязненный нефтью или нефтепродуктами (содержание нефти или нефтепродуктов 15% и более)
                li Опилки и стружка древесные, загрязненные нефтью или нефтепродуктами (содержание нефти или нефтепродуктов 15% и более) 
                li Обтирочный материал загрязненный нефтью или нефтепродуктами (содержание нефти или нефтепродуктов 15% и более)
                li Песок, загрязненный нефтью или нефтепродуктами (содержание нефти или нефтепродуктов 15% и более)
                li Отходы грунта, снаятого при ремонте железнодорожного полотна, загрязненного нефтепродуктами умеренно опасные
                li отходы антикоррозионного покрытия на основе твердых углеводородов
            .fixed-area__tab.tab-item
              h3.fixed-area__category-title Масла
              ul.fixed-area__list.fixed-area__list_type1
                li Cмесь масел минеральных отработанных, не содержащих галогены, пригодная для утилизации 
                li Отходы минеральных масел трансформаторных, не содержащих галогены
                li отходы минеральных масел гидравлических, не содержащих галогены
                li Смесь минеральных масел отработанных с примесью синтетических масел
                li Отходы минеральных масел индустриальных
                li Отходы минеральных масел моторных
                li Смесь масел минеральных отработанных (трансмиссионных, осевых, обкаточных, цилиндровых) от термической обработки металлов
                li Отходы прочих минеральных масел
                li Отходы минеральных масел технологических
                li Отходы минеральных масел турбинных
                li Отходы минеральных масел компрессорных
                li Отходы минеральных масел трансмиссионных
                li Отходы синтетических гидравлических жидкостей
                li Отходы прочих синтетических масел
                li Отходы синтетических масел компрессорных
                li Отходы синтетических и полусинтетических масел электроизоляционных
                li Отходы синтетических и полусинтетических масел индустриальных
                li Отходы синтетических и полусинтетических масел моторных
            .fixed-area__tab.tab-item
              h3.fixed-area__category-title Шламы
              ul.fixed-area__list.fixed-area__list_type1
                li Шлам шлифовальный, содержащий водосмешиваемые смазочно-охлаждающие жидкости
                li Шлам шлифовальный маслосодержащий
                li Шлам очистки емкостей и трубопроводов от нефти и нефтепродуктов
                li Всплывшие нефтепродукты из нефтеловушек и аналогичных сооружений
            .fixed-area__tab.tab-item
              h3.fixed-area__category-title ПРОМЫВОЧНЫЕ<br> смазочные жидкости
              ul.fixed-area__list.fixed-area__list_type1
                li Нефтяные промывочные жидкости, утратившие потребительские свойства, не загрязненные веществами 1-2 класса опасности 
                li Нефтяные промывочные жидкости на основе керосина отработанные
                li Нефтяные промывочные жидкости, содержащие нефтепродукты менее 70% утратившие потребительские свойства
                li Смазочно-охлаждающие жидкости, отработанные при металлообработке, содержащие нефтепродукты 15% и более
                li Смазочно-охлаждающие жидкости на водной основе, отработанные при металлообработке
                li Осадок нефтяных промывочных жидкостей, содержащих нефтепродукты более 70%
                li Отходы смазок на основе нефтяных масел
                li Смазочно-охлаждающие масла, отработанные при металлообработке
            .fixed-area__tab.tab-item
              h3.fixed-area__category-title смеси нефтепродуктов
              ul.fixed-area__list.fixed-area__list_type1
                li Смесь нефтепродуктов обводненная при зачистке маслосборника системы распределения масла
                li Cмеси нефтепродуктов, собранные при зачистке средств хранения и транспортирования нефти и нефтепродуктов
                li Cмеси нефтепродуктов прочие, извлекаемые из очистных сооружений нефтесодержащих вод, содержащие нефтепродукты более 70%
                li Cмесь некондиционных, авиационного топлива, керосина, и дизельного топлива
                li Отходы жидкостей герметизирующих на основе нефтепродуктов
                li Эмульсии и эмульсионные смеси для шлифовки металлов отработанные, содержащие масла или нефтепродукты в количестве 15% и более
                li отходы от зачистки оборудования для транспортирования, храниения и подготовки газа, газового конденсата и нефтегазоконденсатной нефти
                li воды от промывки оборудования для транспортирования и хранения нефти и/или нефтепродуктов (содержание нефти или нефтепродуктов 15% и более)

            .fixed-area__tab.tab-item
              h3.fixed-area__category-title Нефтепродукты<br> Утратившие свойства
              ul.fixed-area__list.fixed-area__list_type1
                li Остатки керосина авиационного утратившего потребительские свойства
                li Остатки дизельного топлива, утратившего потребительские свойства
                li Остатки керосина осветительного, утратившего потребительские свойства
                li Силиконовые масла, утратившие потребительские свойства
                