.fixed-area.wow.fadeIn
  .fixed-area__container
    .fixed-area__section.fixed-area__section_head.padding-compensate
      .fixed-area__backgrounds
        .fixed-area__background.lazy(data-src='img/backgrounds/bg1.jpg')
      .scroll-area.fixed-area__scroll-area
        .scroll-area__content.sl--scrollable
          .fixed-area__content.fixed-area__content_left
            h3 Покупаем<br> отработанное масло
            p Закупаем отработанные масла, ГСМ потерявшие потребительские свойства и другие нефтеотходы, сотрудничество на постоянной договорной основе.
            p Заключая договор с нами вы получаете полный пакет документов и оперативный вывоз отходов с вашей территории.
    .fixed-area__section.fixed-area__section_content.padding-compensate
      .scroll-area.fixed-area__scroll-area
        .scroll-area__content.sl--scrollable
          .fixed-area__content.fixed-area__content_right
            h4.fixed-area__category-title Принимаются следующие<br> виды отработанных масел:
            ul.fixed-area__list.fixed-area__list_type1
              li Турбинные
              li Минеральные моторные масла
              li Синтетические моторные масла
              li Индустриальные
              li ГСМ утративший потребительские свойства
              li Гидравлические
              li Компрессорные
              li Трансмиссионные
              li Трансформаторные
            h5.fixed-area__category-sub-title Условия приёма отработанных масел:
            ul.fixed-area__list.fixed-area__list_type2
              li Отработанное моторное масло не загрязнено посторонними предметами, допустимый уровень содержания воды менее 5%
              li Обеспечение подъезда для спецтехники, 20-метровая система шлангов позволяет откачать отработанные масла и нефтешламы, хранящиеся в наземных, подземных и иных резервуарах, в т.ч. из 200 л. бочек, евро-кубов
              li Минимальный объем отработанного масла 0.2 т. (2 бочки)