section.service-map
  .container
    .service-map__container.wow.fadeIn
      h4.title Территория обслуживания
      p С 2008 года наша организация покупает и утилизирует отработанные<br> масла и нефтесодержащие отходы на территории Российской Федерации.
    .service-map__content.wow.fadeIn
      .service-map__area 
        include map
        .map-item(data-item='1')
          .map-item__container Калужская<br> область
        .map-item(data-item='2')
          .map-item__container Тульская<br> область
        .map-item(data-item='3')
          .map-item__container Рязанская<br> область
        .map-item(data-item='4')
          .map-item__container Орловская<br> область
        .map-item(data-item='5')
          .map-item__container Липецкая<br> область
        .map-item(data-item='6')
          .map-item__container Тамбовская<br> область
        .map-item(data-item='7')
          .map-item__container Курская<br> область
        .map-item(data-item='8')
          .map-item__container Белгородская<br> область
        .map-item(data-item='9')
          .map-item__container Воронежская<br> область
        .map-item(data-item='10')
          .map-item__container Волгоградская<br> область
        .map-item(data-item='11')
          .map-item__container Саратовская<br> область
        .map-item(data-item='12')
          .map-item__container Ростовская<br> область<br> и Краснодарский<br> край