section.section.services.padding-compensate
  .services__container
    .services__head.page-wrap
      .container.wow.fadeIn
        h2.title Наши услуги
        p.t-size-28 Оказываем услуги по мобильной заправке<br> и транспортировке отходов
    .services__content.padding-compensate
      .container.page-wrap
        .services__image.lazy(data-src="img/backgrounds/trucks.png")
        .services__row.row
          .services-block.col-xl-6.col-12.wow.fadeInUp.interval
            .services-block__container
              <svg class="icon"><use xlink:href="img/icons/svg-sprite.svg#icon18"></use></svg>
              span.t-size-24.services-block__title Мобильная заправка
              p.t-size-24 Заправим вашу спецтехнику<br> или автотранспорт качественным сертифицированным топливом 
          .services-block.col-xl-6.col-12.wow.fadeInUp.interval
            .services-block__container
              <svg class="icon"><use xlink:href="img/icons/svg-sprite.svg#icon4"></use></svg>
              span.t-size-24.services-block__title Транспортировка нефтеотходов
              p.t-size-24 Перевезем отходы I-III класса опасности специализированным транспортом. Предоставим полный пакет документов.

